<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <h1>Produtos</h1>
    </div>
    <div class="container">
        {% if produtos %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td scope="row">{{ produto.id }}</td>
                        <td scope="row"><a href="#modal{{ produto.id }}" data-toggle="modal">{{ produto.nome }}</a></td>
                        <td scope="row">{{ produto.preco }}</td>
                        <td scope="row">{{ produto.estoque }}</td>
                    </tr>
                    <div class="modal fade show" id="modal{{ produto.id }}" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ produto.nome }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="dynamic-content">
                                    <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.nome }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4>Ainda não existem produtos cadastrados.</h4>
        {% endif %}
    </div>

{% bootstrap_javascript jquery='full' %}

</body>
</html>